@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-[#4A4A4A];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

